$blue: hsl(217, 71%, 53%);
$primary: $blue;

// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

@import 'bulma/bulma';
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';

.nav {
  background: $primary;

  .nav-item a, a.nav-item {
    color: $white-bis;
  }
}

.is-brand {
  font-size: 1.2rem;
  font-weight: normal;
}

.media-right {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
